.LogginContainer{
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-areas: ". img txt .";
    background-color: #3AAAFF;   
    height: 100vh; 
    overflow: hidden;    
    box-shadow: inset 0 0 15px 10px black;
}

.LogginContainer img{
    width: 100%;
}

.LogginImg{
    grid-area: img;
    align-self: center;
}

.LogginDescription{
    grid-area: txt;
    align-self: center;
}

.LogginDescription a{
    cursor: pointer;
    padding: 24px;
}