.LogginContainer{
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-areas: "img txt";
    background-color: #9CBBB6;
}

.LogginContainer img{
    min-height: 100vh;
}

.LogginImg{
    grid-area: img;
}

.LogginDescription{
    grid-area: txt;
    align-self: center;
}

.LogginDescription a{
    cursor: pointer;
    padding: 24px;
}