.DogCardContainer{
    padding: 2em;
    border-radius: 8px;
    border: solid 1px black;
    backdrop-filter: blur(10px);
}

.DogCardImg {
    height: 200px;
    border: solid 1px black;
    border-radius: 4px;
}

.DogCardImg img{
    width: 100%;
    height: 100%;
}

.DogCardDescription a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.DogCardWeight{
    display: flex;
    justify-content: space-around;
}