.PaginationContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 45px));
    justify-content: center;
    list-style-type: none;
    padding: 1em 0;
    row-gap: 1em;
}

.PaginationContainer li button{
    margin: 0 1em;
}