.DogDetailContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1000px));
    height: 100vh;
    justify-content: center;
    margin: 0 2em;
}

.DogDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: solid 1px black;
    border-radius: 6px;
    padding: 0 0 2em;
}

.DogDetail img{
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.HomeAndCreateLinks{
    display: flex;
    width: 300px;
    cursor: pointer;
    justify-content: space-around;
}